.my-grid{
    position:fixed;
	top:0;
	left:0;
	background:url(img/bg-grid.png);
	width:100%;
	height:100%;	
	}
	
.my-grid-content{
	background:#FFF;
	box-shadow:0 3px 20px #000;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	}	

.my-grid-title{
	background:#1B5AA9;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	margin-bottom:5px;
		-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	}	
	
.my-grid-close{
	display:block;
	position:absolute;
	top:0px;
	right:5px;
	cursor:pointer;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#999;
	border:1px solid #999;
	border-top:none;
	width:10px;
	height:20px;
	padding:0px 10px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-khtml-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	}
.my-grid-close:hover{
	color:#fff;
	border:1px solid #D60111;
	border-top:none;
	background:#D60111;
	}
.grid-loading{
	background:url(img/ajax-loader.gif) left no-repeat;
	padding:10px;
	padding-left:20px;
	margin:10px;
	color:#360;
	font-weight:bold;
	font-size:13px;
	
	}	
.my-grid-content-conteudo{
	overflow:auto;
	padding:0 10px;
	}
	
.grid-error{
  margin:5px;	
  color:#555555;
  margin-bottom:15px;
  padding:10px 10px 10px 33px;
  font-size:14px;
  background-color:#FBCEC4;
  background-image:url(img/logo_excluir.gif);
  background-position:10px 50%;
  background-repeat:no-repeat no-repeat;
  border:1px solid #FBA986;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
	}				